<!DOCTYPE html>
<html lang="en" style="height:100%; width:100%; margin: 0 0 0 0; padding: 0 0 0 0;">
<head>
    <meta charset="UTF-8">
    <title>Pink App - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
    <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202206251943">
    <link rel="canonical" href="https://bulma.io/documentation/layout/">
    <link rel="alternate" type="application/rss+xml" title="Bulma: Free, open source, and modern CSS framework based on Flexbox" href="https://bulma.io/atom.xml">


    <link rel="stylesheet" href="../static/styles/custom.css">


</head>

<body class = "login-body">

        <br><br><br>
        <div style="text-align:center;" >
            <img style="height:70vw;" src="../static/images/logo.png">
        </div>
        <div class="columns">


      <div class="column" style="text-align:center;" >
          <button class="block button " > <a href="maps" style="color:white; font-size:8vw">MAP</a> </button> <br>
          <button class="block button" > <a href="list" style="color:white; font-size:8vw">LIST</a></button>
      </div>
        </div>

</body>
</html>